orders-api/src/main/mule/orders-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="orders-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="orders-api-config" api="resource::af9a0fb9-6cd0-49d9-b432-2445ddf562a2:orders-api:1.0.0:raml:zip:orders-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="${api.autodiscovery}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="d40b3cbf-b304-4cc9-a142-1c2a20bd505d" flowRef="orders-api-main" />
	<global-property doc:name="Global Property" doc:id="abb01c2c-2bc7-4c26-a766-e48fda63b7d5" name="api.autodiscovery" value="17284821" />
	<flow name="orders-api-main">
        <http:listener config-ref="orders-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="orders-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="orders-api-console">
        <http:listener config-ref="orders-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="orders-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders:orders-api-config">
        <ee:transform doc:name="Transform Message" doc:id="70dbfee9-4706-41f8-b296-f660775d4ff7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	"id": "1",
	"date": "1/30/2021",
	"products": [{
		"id": "62"
	},
      {
		"id": "98"
	},
      {
		"id": "81"
	},
      {
		"id": "66"
	},
      {
		"id": "6"
	}],
	"customerId": "76",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Longview",
		"street_number": "75344",
		"street_suffix": "Place"
	}
},
  {
	"id": "2",
	"date": "11/3/2020",
	"products": [{
		"id": "4"
	}],
	"customerId": "41",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "John Wall",
		"street_number": "86138",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "3",
	"date": "10/13/2020",
	"products": [],
	"customerId": "75",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Hazelcrest",
		"street_number": "458",
		"street_suffix": "Pass"
	}
},
  {
	"id": "4",
	"date": "11/6/2020",
	"products": [{
		"id": "38"
	},
      {
		"id": "84"
	},
      {
		"id": "23"
	},
      {
		"id": "77"
	},
      {
		"id": "53"
	}],
	"customerId": "35",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Mariners Cove",
		"street_number": "762",
		"street_suffix": "Point"
	}
},
  {
	"id": "5",
	"date": "11/26/2020",
	"products": [{
		"id": "70"
	},
      {
		"id": "20"
	}],
	"customerId": "68",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "David",
		"street_number": "552",
		"street_suffix": "Lane"
	}
},
  {
	"id": "6",
	"date": "7/7/2021",
	"products": [],
	"customerId": "86",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Bunker Hill",
		"street_number": "27",
		"street_suffix": "Plaza"
	}
},
  {
	"id": "7",
	"date": "1/22/2021",
	"products": [{
		"id": "28"
	},
      {
		"id": "67"
	},
      {
		"id": "8"
	},
      {
		"id": "57"
	}],
	"customerId": "29",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Pond",
		"street_number": "8956",
		"street_suffix": "Place"
	}
},
  {
	"id": "8",
	"date": "12/29/2020",
	"products": [{
		"id": "58"
	},
      {
		"id": "8"
	},
      {
		"id": "18"
	}],
	"customerId": "57",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Donald",
		"street_number": "23",
		"street_suffix": "Center"
	}
},
  {
	"id": "9",
	"date": "7/19/2021",
	"products": [{
		"id": "16"
	},
      {
		"id": "23"
	},
      {
		"id": "34"
	},
      {
		"id": "69"
	}],
	"customerId": "66",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "3rd",
		"street_number": "76314",
		"street_suffix": "Hill"
	}
},
  {
	"id": "10",
	"date": "9/23/2021",
	"products": [],
	"customerId": "85",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Bowman",
		"street_number": "4423",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "11",
	"date": "5/23/2021",
	"products": [{
		"id": "69"
	},
      {
		"id": "30"
	},
      {
		"id": "92"
	}],
	"customerId": "38",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Del Sol",
		"street_number": "2",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "12",
	"date": "4/28/2021",
	"products": [{
		"id": "18"
	},
      {
		"id": "75"
	},
      {
		"id": "9"
	},
      {
		"id": "34"
	},
      {
		"id": "13"
	}],
	"customerId": "15",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Oak",
		"street_number": "4",
		"street_suffix": "Point"
	}
},
  {
	"id": "13",
	"date": "8/3/2021",
	"products": [{
		"id": "1"
	},
      {
		"id": "66"
	}],
	"customerId": "50",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Namekagon",
		"street_number": "58",
		"street_suffix": "Avenue"
	}
},
  {
	"id": "14",
	"date": "3/30/2021",
	"products": [],
	"customerId": "73",
	"payment": {
		"currency": "Euro",
		"country": "Spain"
	},
	"address": {
		"street_name": "Oxford",
		"street_number": "900",
		"street_suffix": "Drive"
	}
},
  {
	"id": "15",
	"date": "10/23/2020",
	"products": [{
		"id": "6"
	}],
	"customerId": "29",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Kingsford",
		"street_number": "93",
		"street_suffix": "Street"
	}
},
  {
	"id": "16",
	"date": "5/2/2021",
	"products": [{
		"id": "55"
	},
      {
		"id": "34"
	},
      {
		"id": "66"
	}],
	"customerId": "46",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Harbort",
		"street_number": "1024",
		"street_suffix": "Plaza"
	}
},
  {
	"id": "17",
	"date": "10/27/2020",
	"products": [{
		"id": "55"
	},
      {
		"id": "6"
	}],
	"customerId": "99",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Prentice",
		"street_number": "97",
		"street_suffix": "Street"
	}
},
  {
	"id": "18",
	"date": "7/21/2021",
	"products": [{
		"id": "50"
	},
      {
		"id": "79"
	},
      {
		"id": "6"
	},
      {
		"id": "83"
	}],
	"customerId": "27",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Rockefeller",
		"street_number": "6940",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "19",
	"date": "3/3/2021",
	"products": [{
		"id": "100"
	}],
	"customerId": "82",
	"payment": {
		"currency": "Euro",
		"country": "Germany"
	},
	"address": {
		"street_name": "Rockefeller",
		"street_number": "71884",
		"street_suffix": "Circle"
	}
},
  {
	"id": "20",
	"date": "3/25/2021",
	"products": [{
		"id": "41"
	},
      {
		"id": "15"
	},
      {
		"id": "49"
	},
      {
		"id": "66"
	},
      {
		"id": "40"
	}],
	"customerId": "70",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Browning",
		"street_number": "6",
		"street_suffix": "Street"
	}
},
  {
	"id": "21",
	"date": "2/12/2021",
	"products": [{
		"id": "86"
	},
      {
		"id": "11"
	},
      {
		"id": "80"
	},
      {
		"id": "100"
	},
      {
		"id": "20"
	}],
	"customerId": "18",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Hovde",
		"street_number": "3501",
		"street_suffix": "Plaza"
	}
},
  {
	"id": "22",
	"date": "8/15/2021",
	"products": [{
		"id": "24"
	},
      {
		"id": "42"
	},
      {
		"id": "26"
	},
      {
		"id": "74"
	}],
	"customerId": "24",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Homewood",
		"street_number": "83",
		"street_suffix": "Alley"
	}
},
  {
	"id": "23",
	"date": "3/6/2021",
	"products": [{
		"id": "28"
	},
      {
		"id": "39"
	},
      {
		"id": "24"
	}],
	"customerId": "42",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Sutherland",
		"street_number": "425",
		"street_suffix": "Park"
	}
},
  {
	"id": "24",
	"date": "11/30/2020",
	"products": [{
		"id": "94"
	}],
	"customerId": "95",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Westport",
		"street_number": "76831",
		"street_suffix": "Drive"
	}
},
  {
	"id": "25",
	"date": "7/4/2021",
	"products": [{
		"id": "98"
	},
      {
		"id": "9"
	},
      {
		"id": "32"
	},
      {
		"id": "15"
	},
      {
		"id": "90"
	}],
	"customerId": "78",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Farmco",
		"street_number": "17",
		"street_suffix": "Road"
	}
},
  {
	"id": "26",
	"date": "7/5/2021",
	"products": [{
		"id": "86"
	},
      {
		"id": "90"
	},
      {
		"id": "68"
	}],
	"customerId": "45",
	"payment": {
		"currency": "Euro",
		"country": "Spain"
	},
	"address": {
		"street_name": "Farmco",
		"street_number": "4883",
		"street_suffix": "Road"
	}
},
  {
	"id": "27",
	"date": "2/26/2021",
	"products": [{
		"id": "48"
	}],
	"customerId": "95",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Nancy",
		"street_number": "54011",
		"street_suffix": "Hill"
	}
},
  {
	"id": "28",
	"date": "7/27/2021",
	"products": [{
		"id": "58"
	},
      {
		"id": "74"
	},
      {
		"id": "54"
	}],
	"customerId": "39",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Annamark",
		"street_number": "1872",
		"street_suffix": "Center"
	}
},
  {
	"id": "29",
	"date": "7/19/2021",
	"products": [{
		"id": "35"
	},
      {
		"id": "40"
	},
      {
		"id": "1"
	},
      {
		"id": "61"
	}],
	"customerId": "10",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Knutson",
		"street_number": "3",
		"street_suffix": "Park"
	}
},
  {
	"id": "30",
	"date": "4/27/2021",
	"products": [{
		"id": "45"
	},
      {
		"id": "92"
	}],
	"customerId": "10",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Carey",
		"street_number": "60",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "31",
	"date": "9/15/2021",
	"products": [{
		"id": "36"
	},
      {
		"id": "65"
	},
      {
		"id": "3"
	},
      {
		"id": "89"
	},
      {
		"id": "25"
	}],
	"customerId": "39",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Bowman",
		"street_number": "12",
		"street_suffix": "Place"
	}
},
  {
	"id": "32",
	"date": "3/24/2021",
	"products": [],
	"customerId": "34",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Pond",
		"street_number": "4",
		"street_suffix": "Alley"
	}
},
  {
	"id": "33",
	"date": "7/8/2021",
	"products": [{
		"id": "86"
	},
      {
		"id": "42"
	}],
	"customerId": "29",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Elmside",
		"street_number": "427",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "34",
	"date": "5/19/2021",
	"products": [{
		"id": "97"
	},
      {
		"id": "51"
	},
      {
		"id": "43"
	},
      {
		"id": "6"
	},
      {
		"id": "44"
	}],
	"customerId": "36",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Spaight",
		"street_number": "4588",
		"street_suffix": "Park"
	}
},
  {
	"id": "35",
	"date": "12/5/2020",
	"products": [{
		"id": "70"
	},
      {
		"id": "52"
	},
      {
		"id": "86"
	},
      {
		"id": "4"
	}],
	"customerId": "59",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Derek",
		"street_number": "10125",
		"street_suffix": "Pass"
	}
},
  {
	"id": "36",
	"date": "11/11/2020",
	"products": [{
		"id": "27"
	},
      {
		"id": "48"
	},
      {
		"id": "11"
	},
      {
		"id": "65"
	}],
	"customerId": "16",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Jackson",
		"street_number": "18",
		"street_suffix": "Pass"
	}
},
  {
	"id": "37",
	"date": "12/22/2020",
	"products": [{
		"id": "60"
	},
      {
		"id": "13"
	},
      {
		"id": "10"
	}],
	"customerId": "69",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Northport",
		"street_number": "9",
		"street_suffix": "Street"
	}
},
  {
	"id": "38",
	"date": "11/12/2020",
	"products": [{
		"id": "8"
	},
      {
		"id": "91"
	}],
	"customerId": "94",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "2nd",
		"street_number": "35938",
		"street_suffix": "Way"
	}
},
  {
	"id": "39",
	"date": "4/26/2021",
	"products": [{
		"id": "79"
	},
      {
		"id": "66"
	},
      {
		"id": "58"
	},
      {
		"id": "22"
	}],
	"customerId": "12",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Corry",
		"street_number": "8148",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "40",
	"date": "11/7/2020",
	"products": [],
	"customerId": "86",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Westport",
		"street_number": "95011",
		"street_suffix": "Plaza"
	}
},
  {
	"id": "41",
	"date": "12/31/2020",
	"products": [{
		"id": "25"
	}],
	"customerId": "25",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Sunbrook",
		"street_number": "313",
		"street_suffix": "Junction"
	}
},
  {
	"id": "42",
	"date": "4/26/2021",
	"products": [{
		"id": "82"
	},
      {
		"id": "69"
	}],
	"customerId": "79",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Trailsway",
		"street_number": "21067",
		"street_suffix": "Plaza"
	}
},
  {
	"id": "43",
	"date": "7/2/2021",
	"products": [{
		"id": "100"
	},
      {
		"id": "75"
	},
      {
		"id": "62"
	}],
	"customerId": "2",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Hansons",
		"street_number": "0055",
		"street_suffix": "Center"
	}
},
  {
	"id": "44",
	"date": "8/23/2021",
	"products": [{
		"id": "31"
	},
      {
		"id": "42"
	},
      {
		"id": "100"
	},
      {
		"id": "70"
	}],
	"customerId": "39",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Hoepker",
		"street_number": "6",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "45",
	"date": "12/9/2020",
	"products": [{
		"id": "32"
	},
      {
		"id": "68"
	},
      {
		"id": "83"
	},
      {
		"id": "31"
	},
      {
		"id": "15"
	}],
	"customerId": "70",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "American",
		"street_number": "53468",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "46",
	"date": "10/16/2020",
	"products": [],
	"customerId": "81",
	"payment": {
		"currency": "Euro",
		"country": "Spain"
	},
	"address": {
		"street_name": "Armistice",
		"street_number": "0234",
		"street_suffix": "Park"
	}
},
  {
	"id": "47",
	"date": "5/27/2021",
	"products": [{
		"id": "67"
	},
      {
		"id": "98"
	},
      {
		"id": "16"
	}],
	"customerId": "5",
	"payment": {
		"currency": "Euro",
		"country": "Germany"
	},
	"address": {
		"street_name": "Florence",
		"street_number": "5",
		"street_suffix": "Alley"
	}
},
  {
	"id": "48",
	"date": "5/4/2021",
	"products": [{
		"id": "42"
	},
      {
		"id": "46"
	}],
	"customerId": "33",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Kinsman",
		"street_number": "22622",
		"street_suffix": "Park"
	}
},
  {
	"id": "49",
	"date": "11/24/2020",
	"products": [{
		"id": "9"
	},
      {
		"id": "12"
	},
      {
		"id": "78"
	},
      {
		"id": "40"
	}],
	"customerId": "97",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Oxford",
		"street_number": "44146",
		"street_suffix": "Court"
	}
},
  {
	"id": "50",
	"date": "6/27/2021",
	"products": [],
	"customerId": "57",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Wayridge",
		"street_number": "37286",
		"street_suffix": "Plaza"
	}
},
  {
	"id": "51",
	"date": "5/14/2021",
	"products": [{
		"id": "61"
	},
      {
		"id": "99"
	},
      {
		"id": "93"
	}],
	"customerId": "97",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Bunting",
		"street_number": "4",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "52",
	"date": "4/20/2021",
	"products": [{
		"id": "61"
	},
      {
		"id": "74"
	}],
	"customerId": "46",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Basil",
		"street_number": "4",
		"street_suffix": "Way"
	}
},
  {
	"id": "53",
	"date": "1/11/2021",
	"products": [{
		"id": "8"
	},
      {
		"id": "100"
	},
      {
		"id": "97"
	},
      {
		"id": "31"
	}],
	"customerId": "47",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Welch",
		"street_number": "8",
		"street_suffix": "Drive"
	}
},
  {
	"id": "54",
	"date": "3/21/2021",
	"products": [{
		"id": "23"
	},
      {
		"id": "77"
	},
      {
		"id": "81"
	},
      {
		"id": "61"
	},
      {
		"id": "30"
	}],
	"customerId": "35",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Manitowish",
		"street_number": "4",
		"street_suffix": "Street"
	}
},
  {
	"id": "55",
	"date": "10/16/2020",
	"products": [{
		"id": "20"
	}],
	"customerId": "59",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Fulton",
		"street_number": "7436",
		"street_suffix": "Center"
	}
},
  {
	"id": "56",
	"date": "2/10/2021",
	"products": [{
		"id": "73"
	},
      {
		"id": "86"
	},
      {
		"id": "44"
	},
      {
		"id": "31"
	},
      {
		"id": "87"
	}],
	"customerId": "61",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Eggendart",
		"street_number": "02",
		"street_suffix": "Place"
	}
},
  {
	"id": "57",
	"date": "10/6/2020",
	"products": [{
		"id": "25"
	},
      {
		"id": "68"
	},
      {
		"id": "45"
	},
      {
		"id": "78"
	},
      {
		"id": "43"
	}],
	"customerId": "85",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Lyons",
		"street_number": "3563",
		"street_suffix": "Trail"
	}
},
  {
	"id": "58",
	"date": "12/15/2020",
	"products": [{
		"id": "5"
	},
      {
		"id": "3"
	},
      {
		"id": "8"
	}],
	"customerId": "94",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Holy Cross",
		"street_number": "7",
		"street_suffix": "Center"
	}
},
  {
	"id": "59",
	"date": "6/12/2021",
	"products": [{
		"id": "15"
	},
      {
		"id": "49"
	}],
	"customerId": "74",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Schiller",
		"street_number": "82718",
		"street_suffix": "Pass"
	}
},
  {
	"id": "60",
	"date": "12/19/2020",
	"products": [{
		"id": "67"
	},
      {
		"id": "54"
	},
      {
		"id": "51"
	},
      {
		"id": "75"
	}],
	"customerId": "8",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Fordem",
		"street_number": "6",
		"street_suffix": "Road"
	}
},
  {
	"id": "61",
	"date": "4/16/2021",
	"products": [{
		"id": "95"
	},
      {
		"id": "25"
	},
      {
		"id": "18"
	}],
	"customerId": "68",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Prairieview",
		"street_number": "6",
		"street_suffix": "Junction"
	}
},
  {
	"id": "62",
	"date": "1/23/2021",
	"products": [{
		"id": "22"
	},
      {
		"id": "99"
	},
      {
		"id": "45"
	},
      {
		"id": "84"
	},
      {
		"id": "58"
	}],
	"customerId": "4",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Holmberg",
		"street_number": "663",
		"street_suffix": "Parkway"
	}
},
  {
	"id": "63",
	"date": "6/29/2021",
	"products": [{
		"id": "55"
	},
      {
		"id": "98"
	}],
	"customerId": "57",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Bobwhite",
		"street_number": "47",
		"street_suffix": "Pass"
	}
},
  {
	"id": "64",
	"date": "11/27/2020",
	"products": [{
		"id": "35"
	}],
	"customerId": "20",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Anthes",
		"street_number": "97",
		"street_suffix": "Pass"
	}
},
  {
	"id": "65",
	"date": "12/19/2020",
	"products": [{
		"id": "85"
	},
      {
		"id": "45"
	}],
	"customerId": "62",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Victoria",
		"street_number": "0",
		"street_suffix": "Hill"
	}
},
  {
	"id": "66",
	"date": "11/30/2020",
	"products": [],
	"customerId": "87",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Helena",
		"street_number": "89448",
		"street_suffix": "Drive"
	}
},
  {
	"id": "67",
	"date": "7/27/2021",
	"products": [],
	"customerId": "14",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Maywood",
		"street_number": "3415",
		"street_suffix": "Park"
	}
},
  {
	"id": "68",
	"date": "8/14/2021",
	"products": [],
	"customerId": "31",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Northridge",
		"street_number": "9744",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "69",
	"date": "5/10/2021",
	"products": [{
		"id": "25"
	},
      {
		"id": "69"
	},
      {
		"id": "62"
	},
      {
		"id": "50"
	},
      {
		"id": "54"
	}],
	"customerId": "99",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Norway Maple",
		"street_number": "1783",
		"street_suffix": "Trail"
	}
},
  {
	"id": "70",
	"date": "1/29/2021",
	"products": [],
	"customerId": "84",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Washington",
		"street_number": "295",
		"street_suffix": "Park"
	}
},
  {
	"id": "71",
	"date": "1/9/2021",
	"products": [{
		"id": "53"
	},
      {
		"id": "64"
	},
      {
		"id": "93"
	}],
	"customerId": "21",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Jenna",
		"street_number": "88",
		"street_suffix": "Alley"
	}
},
  {
	"id": "72",
	"date": "4/30/2021",
	"products": [{
		"id": "72"
	},
      {
		"id": "44"
	},
      {
		"id": "98"
	}],
	"customerId": "10",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Stoughton",
		"street_number": "89",
		"street_suffix": "Parkway"
	}
},
  {
	"id": "73",
	"date": "7/18/2021",
	"products": [{
		"id": "35"
	}],
	"customerId": "2",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Brickson Park",
		"street_number": "38679",
		"street_suffix": "Pass"
	}
},
  {
	"id": "74",
	"date": "1/13/2021",
	"products": [{
		"id": "76"
	},
      {
		"id": "3"
	}],
	"customerId": "8",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Duke",
		"street_number": "826",
		"street_suffix": "Road"
	}
},
  {
	"id": "75",
	"date": "4/24/2021",
	"products": [{
		"id": "73"
	},
      {
		"id": "58"
	},
      {
		"id": "13"
	},
      {
		"id": "85"
	},
      {
		"id": "99"
	}],
	"customerId": "72",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Springs",
		"street_number": "38476",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "76",
	"date": "6/7/2021",
	"products": [{
		"id": "23"
	},
      {
		"id": "72"
	},
      {
		"id": "98"
	},
      {
		"id": "91"
	},
      {
		"id": "67"
	}],
	"customerId": "99",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Kennedy",
		"street_number": "1",
		"street_suffix": "Parkway"
	}
},
  {
	"id": "77",
	"date": "9/19/2021",
	"products": [],
	"customerId": "73",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Ridgeview",
		"street_number": "63",
		"street_suffix": "Crossing"
	}
},
  {
	"id": "78",
	"date": "10/2/2020",
	"products": [],
	"customerId": "78",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Boyd",
		"street_number": "10",
		"street_suffix": "Street"
	}
},
  {
	"id": "79",
	"date": "4/14/2021",
	"products": [{
		"id": "23"
	}],
	"customerId": "37",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Golf View",
		"street_number": "67",
		"street_suffix": "Drive"
	}
},
  {
	"id": "80",
	"date": "8/21/2021",
	"products": [{
		"id": "24"
	},
      {
		"id": "94"
	}],
	"customerId": "59",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Briar Crest",
		"street_number": "72",
		"street_suffix": "Place"
	}
},
  {
	"id": "81",
	"date": "11/14/2020",
	"products": [{
		"id": "84"
	},
      {
		"id": "42"
	},
      {
		"id": "19"
	},
      {
		"id": "42"
	}],
	"customerId": "72",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Crowley",
		"street_number": "04360",
		"street_suffix": "Circle"
	}
},
  {
	"id": "82",
	"date": "9/29/2020",
	"products": [{
		"id": "20"
	},
      {
		"id": "47"
	},
      {
		"id": "34"
	},
      {
		"id": "11"
	}],
	"customerId": "14",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Gateway",
		"street_number": "152",
		"street_suffix": "Terrace"
	}
},
  {
	"id": "83",
	"date": "8/26/2021",
	"products": [{
		"id": "31"
	}],
	"customerId": "55",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Golf Course",
		"street_number": "4214",
		"street_suffix": "Street"
	}
},
  {
	"id": "84",
	"date": "9/23/2021",
	"products": [],
	"customerId": "81",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Dayton",
		"street_number": "12659",
		"street_suffix": "Drive"
	}
},
  {
	"id": "85",
	"date": "10/7/2020",
	"products": [{
		"id": "20"
	},
      {
		"id": "99"
	},
      {
		"id": "12"
	}],
	"customerId": "71",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Bartillon",
		"street_number": "8",
		"street_suffix": "Drive"
	}
},
  {
	"id": "86",
	"date": "4/1/2021",
	"products": [{
		"id": "77"
	},
      {
		"id": "80"
	},
      {
		"id": "92"
	},
      {
		"id": "6"
	}],
	"customerId": "18",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Morningstar",
		"street_number": "7091",
		"street_suffix": "Trail"
	}
},
  {
	"id": "87",
	"date": "1/3/2021",
	"products": [{
		"id": "5"
	},
      {
		"id": "4"
	},
      {
		"id": "73"
	},
      {
		"id": "19"
	}],
	"customerId": "49",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Butternut",
		"street_number": "7",
		"street_suffix": "Way"
	}
},
  {
	"id": "88",
	"date": "2/5/2021",
	"products": [],
	"customerId": "33",
	"payment": {
		"currency": "Euro",
		"country": "Spain"
	},
	"address": {
		"street_name": "Cardinal",
		"street_number": "110",
		"street_suffix": "Point"
	}
},
  {
	"id": "89",
	"date": "8/16/2021",
	"products": [{
		"id": "55"
	},
      {
		"id": "99"
	},
      {
		"id": "19"
	},
      {
		"id": "40"
	}],
	"customerId": "90",
	"payment": {
		"currency": "Euro",
		"country": "Spain"
	},
	"address": {
		"street_name": "Old Shore",
		"street_number": "571",
		"street_suffix": "Junction"
	}
},
  {
	"id": "90",
	"date": "8/5/2021",
	"products": [{
		"id": "28"
	}],
	"customerId": "63",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Continental",
		"street_number": "9692",
		"street_suffix": "Place"
	}
},
  {
	"id": "91",
	"date": "9/11/2021",
	"products": [{
		"id": "88"
	},
      {
		"id": "91"
	}],
	"customerId": "24",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Old Gate",
		"street_number": "956",
		"street_suffix": "Center"
	}
},
  {
	"id": "92",
	"date": "10/23/2020",
	"products": [{
		"id": "89"
	},
      {
		"id": "60"
	},
      {
		"id": "94"
	},
      {
		"id": "45"
	}],
	"customerId": "70",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Mallory",
		"street_number": "522",
		"street_suffix": "Parkway"
	}
},
  {
	"id": "93",
	"date": "8/11/2021",
	"products": [{
		"id": "73"
	},
      {
		"id": "48"
	},
      {
		"id": "69"
	},
      {
		"id": "55"
	}],
	"customerId": "71",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Hermina",
		"street_number": "8",
		"street_suffix": "Circle"
	}
},
  {
	"id": "94",
	"date": "11/14/2020",
	"products": [{
		"id": "27"
	}],
	"customerId": "89",
	"payment": {
		"currency": "Euro",
		"country": "France"
	},
	"address": {
		"street_name": "Browning",
		"street_number": "344",
		"street_suffix": "Parkway"
	}
},
  {
	"id": "95",
	"date": "4/29/2021",
	"products": [{
		"id": "57"
	},
      {
		"id": "98"
	},
      {
		"id": "32"
	},
      {
		"id": "27"
	}],
	"customerId": "9",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Green Ridge",
		"street_number": "581",
		"street_suffix": "Street"
	}
},
  {
	"id": "96",
	"date": "8/20/2021",
	"products": [{
		"id": "88"
	}],
	"customerId": "19",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Northridge",
		"street_number": "920",
		"street_suffix": "Pass"
	}
},
  {
	"id": "97",
	"date": "7/21/2021",
	"products": [{
		"id": "44"
	},
      {
		"id": "17"
	}],
	"customerId": "29",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Claremont",
		"street_number": "403",
		"street_suffix": "Street"
	}
},
  {
	"id": "98",
	"date": "12/7/2020",
	"products": [{
		"id": "53"
	},
      {
		"id": "17"
	},
      {
		"id": "11"
	}],
	"customerId": "57",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Mitchell",
		"street_number": "92359",
		"street_suffix": "Hill"
	}
},
  {
	"id": "99",
	"date": "5/31/2021",
	"products": [],
	"customerId": "37",
	"payment": {
		"currency": "Euro",
		"country": "Portugal"
	},
	"address": {
		"street_name": "Lukken",
		"street_number": "48",
		"street_suffix": "Pass"
	}
},
  {
	"id": "100",
	"date": "7/21/2021",
	"products": [{
		"id": "1"
	},
      {
		"id": "46"
	},
      {
		"id": "36"
	},
      {
		"id": "37"
	},
      {
		"id": "43"
	}],
	"customerId": "91",
	"payment": {
		"currency": "Zloty",
		"country": "Poland"
	},
	"address": {
		"street_name": "Summit",
		"street_number": "34663",
		"street_suffix": "Avenue"
	}
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\orders:orders-api-config" />
    </flow>
    <flow name="get:\orders\(id):orders-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var id = attributes.uriParams.'id'
---
{
	([{
		"id": "1",
		"date": "1/30/2021",
		"products": [{
			"id": "62"
		},
	      {
			"id": "98"
		},
	      {
			"id": "81"
		},
	      {
			"id": "66"
		},
	      {
			"id": "6"
		}],
		"customerId": "76",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Longview",
			"street_number": "75344",
			"street_suffix": "Place"
		}
	},
	  {
		"id": "2",
		"date": "11/3/2020",
		"products": [{
			"id": "4"
		}],
		"customerId": "41",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "John Wall",
			"street_number": "86138",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "3",
		"date": "10/13/2020",
		"products": [],
		"customerId": "75",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Hazelcrest",
			"street_number": "458",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "4",
		"date": "11/6/2020",
		"products": [{
			"id": "38"
		},
	      {
			"id": "84"
		},
	      {
			"id": "23"
		},
	      {
			"id": "77"
		},
	      {
			"id": "53"
		}],
		"customerId": "35",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Mariners Cove",
			"street_number": "762",
			"street_suffix": "Point"
		}
	},
	  {
		"id": "5",
		"date": "11/26/2020",
		"products": [{
			"id": "70"
		},
	      {
			"id": "20"
		}],
		"customerId": "68",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "David",
			"street_number": "552",
			"street_suffix": "Lane"
		}
	},
	  {
		"id": "6",
		"date": "7/7/2021",
		"products": [],
		"customerId": "86",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Bunker Hill",
			"street_number": "27",
			"street_suffix": "Plaza"
		}
	},
	  {
		"id": "7",
		"date": "1/22/2021",
		"products": [{
			"id": "28"
		},
	      {
			"id": "67"
		},
	      {
			"id": "8"
		},
	      {
			"id": "57"
		}],
		"customerId": "29",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Pond",
			"street_number": "8956",
			"street_suffix": "Place"
		}
	},
	  {
		"id": "8",
		"date": "12/29/2020",
		"products": [{
			"id": "58"
		},
	      {
			"id": "8"
		},
	      {
			"id": "18"
		}],
		"customerId": "57",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Donald",
			"street_number": "23",
			"street_suffix": "Center"
		}
	},
	  {
		"id": "9",
		"date": "7/19/2021",
		"products": [{
			"id": "16"
		},
	      {
			"id": "23"
		},
	      {
			"id": "34"
		},
	      {
			"id": "69"
		}],
		"customerId": "66",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "3rd",
			"street_number": "76314",
			"street_suffix": "Hill"
		}
	},
	  {
		"id": "10",
		"date": "9/23/2021",
		"products": [],
		"customerId": "85",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Bowman",
			"street_number": "4423",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "11",
		"date": "5/23/2021",
		"products": [{
			"id": "69"
		},
	      {
			"id": "30"
		},
	      {
			"id": "92"
		}],
		"customerId": "38",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Del Sol",
			"street_number": "2",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "12",
		"date": "4/28/2021",
		"products": [{
			"id": "18"
		},
	      {
			"id": "75"
		},
	      {
			"id": "9"
		},
	      {
			"id": "34"
		},
	      {
			"id": "13"
		}],
		"customerId": "15",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Oak",
			"street_number": "4",
			"street_suffix": "Point"
		}
	},
	  {
		"id": "13",
		"date": "8/3/2021",
		"products": [{
			"id": "1"
		},
	      {
			"id": "66"
		}],
		"customerId": "50",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Namekagon",
			"street_number": "58",
			"street_suffix": "Avenue"
		}
	},
	  {
		"id": "14",
		"date": "3/30/2021",
		"products": [],
		"customerId": "73",
		"payment": {
			"currency": "Euro",
			"country": "Spain"
		},
		"address": {
			"street_name": "Oxford",
			"street_number": "900",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "15",
		"date": "10/23/2020",
		"products": [{
			"id": "6"
		}],
		"customerId": "29",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Kingsford",
			"street_number": "93",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "16",
		"date": "5/2/2021",
		"products": [{
			"id": "55"
		},
	      {
			"id": "34"
		},
	      {
			"id": "66"
		}],
		"customerId": "46",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Harbort",
			"street_number": "1024",
			"street_suffix": "Plaza"
		}
	},
	  {
		"id": "17",
		"date": "10/27/2020",
		"products": [{
			"id": "55"
		},
	      {
			"id": "6"
		}],
		"customerId": "99",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Prentice",
			"street_number": "97",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "18",
		"date": "7/21/2021",
		"products": [{
			"id": "50"
		},
	      {
			"id": "79"
		},
	      {
			"id": "6"
		},
	      {
			"id": "83"
		}],
		"customerId": "27",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Rockefeller",
			"street_number": "6940",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "19",
		"date": "3/3/2021",
		"products": [{
			"id": "100"
		}],
		"customerId": "82",
		"payment": {
			"currency": "Euro",
			"country": "Germany"
		},
		"address": {
			"street_name": "Rockefeller",
			"street_number": "71884",
			"street_suffix": "Circle"
		}
	},
	  {
		"id": "20",
		"date": "3/25/2021",
		"products": [{
			"id": "41"
		},
	      {
			"id": "15"
		},
	      {
			"id": "49"
		},
	      {
			"id": "66"
		},
	      {
			"id": "40"
		}],
		"customerId": "70",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Browning",
			"street_number": "6",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "21",
		"date": "2/12/2021",
		"products": [{
			"id": "86"
		},
	      {
			"id": "11"
		},
	      {
			"id": "80"
		},
	      {
			"id": "100"
		},
	      {
			"id": "20"
		}],
		"customerId": "18",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Hovde",
			"street_number": "3501",
			"street_suffix": "Plaza"
		}
	},
	  {
		"id": "22",
		"date": "8/15/2021",
		"products": [{
			"id": "24"
		},
	      {
			"id": "42"
		},
	      {
			"id": "26"
		},
	      {
			"id": "74"
		}],
		"customerId": "24",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Homewood",
			"street_number": "83",
			"street_suffix": "Alley"
		}
	},
	  {
		"id": "23",
		"date": "3/6/2021",
		"products": [{
			"id": "28"
		},
	      {
			"id": "39"
		},
	      {
			"id": "24"
		}],
		"customerId": "42",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Sutherland",
			"street_number": "425",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "24",
		"date": "11/30/2020",
		"products": [{
			"id": "94"
		}],
		"customerId": "95",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Westport",
			"street_number": "76831",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "25",
		"date": "7/4/2021",
		"products": [{
			"id": "98"
		},
	      {
			"id": "9"
		},
	      {
			"id": "32"
		},
	      {
			"id": "15"
		},
	      {
			"id": "90"
		}],
		"customerId": "78",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Farmco",
			"street_number": "17",
			"street_suffix": "Road"
		}
	},
	  {
		"id": "26",
		"date": "7/5/2021",
		"products": [{
			"id": "86"
		},
	      {
			"id": "90"
		},
	      {
			"id": "68"
		}],
		"customerId": "45",
		"payment": {
			"currency": "Euro",
			"country": "Spain"
		},
		"address": {
			"street_name": "Farmco",
			"street_number": "4883",
			"street_suffix": "Road"
		}
	},
	  {
		"id": "27",
		"date": "2/26/2021",
		"products": [{
			"id": "48"
		}],
		"customerId": "95",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Nancy",
			"street_number": "54011",
			"street_suffix": "Hill"
		}
	},
	  {
		"id": "28",
		"date": "7/27/2021",
		"products": [{
			"id": "58"
		},
	      {
			"id": "74"
		},
	      {
			"id": "54"
		}],
		"customerId": "39",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Annamark",
			"street_number": "1872",
			"street_suffix": "Center"
		}
	},
	  {
		"id": "29",
		"date": "7/19/2021",
		"products": [{
			"id": "35"
		},
	      {
			"id": "40"
		},
	      {
			"id": "1"
		},
	      {
			"id": "61"
		}],
		"customerId": "10",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Knutson",
			"street_number": "3",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "30",
		"date": "4/27/2021",
		"products": [{
			"id": "45"
		},
	      {
			"id": "92"
		}],
		"customerId": "10",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Carey",
			"street_number": "60",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "31",
		"date": "9/15/2021",
		"products": [{
			"id": "36"
		},
	      {
			"id": "65"
		},
	      {
			"id": "3"
		},
	      {
			"id": "89"
		},
	      {
			"id": "25"
		}],
		"customerId": "39",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Bowman",
			"street_number": "12",
			"street_suffix": "Place"
		}
	},
	  {
		"id": "32",
		"date": "3/24/2021",
		"products": [],
		"customerId": "34",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Pond",
			"street_number": "4",
			"street_suffix": "Alley"
		}
	},
	  {
		"id": "33",
		"date": "7/8/2021",
		"products": [{
			"id": "86"
		},
	      {
			"id": "42"
		}],
		"customerId": "29",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Elmside",
			"street_number": "427",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "34",
		"date": "5/19/2021",
		"products": [{
			"id": "97"
		},
	      {
			"id": "51"
		},
	      {
			"id": "43"
		},
	      {
			"id": "6"
		},
	      {
			"id": "44"
		}],
		"customerId": "36",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Spaight",
			"street_number": "4588",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "35",
		"date": "12/5/2020",
		"products": [{
			"id": "70"
		},
	      {
			"id": "52"
		},
	      {
			"id": "86"
		},
	      {
			"id": "4"
		}],
		"customerId": "59",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Derek",
			"street_number": "10125",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "36",
		"date": "11/11/2020",
		"products": [{
			"id": "27"
		},
	      {
			"id": "48"
		},
	      {
			"id": "11"
		},
	      {
			"id": "65"
		}],
		"customerId": "16",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Jackson",
			"street_number": "18",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "37",
		"date": "12/22/2020",
		"products": [{
			"id": "60"
		},
	      {
			"id": "13"
		},
	      {
			"id": "10"
		}],
		"customerId": "69",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Northport",
			"street_number": "9",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "38",
		"date": "11/12/2020",
		"products": [{
			"id": "8"
		},
	      {
			"id": "91"
		}],
		"customerId": "94",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "2nd",
			"street_number": "35938",
			"street_suffix": "Way"
		}
	},
	  {
		"id": "39",
		"date": "4/26/2021",
		"products": [{
			"id": "79"
		},
	      {
			"id": "66"
		},
	      {
			"id": "58"
		},
	      {
			"id": "22"
		}],
		"customerId": "12",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Corry",
			"street_number": "8148",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "40",
		"date": "11/7/2020",
		"products": [],
		"customerId": "86",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Westport",
			"street_number": "95011",
			"street_suffix": "Plaza"
		}
	},
	  {
		"id": "41",
		"date": "12/31/2020",
		"products": [{
			"id": "25"
		}],
		"customerId": "25",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Sunbrook",
			"street_number": "313",
			"street_suffix": "Junction"
		}
	},
	  {
		"id": "42",
		"date": "4/26/2021",
		"products": [{
			"id": "82"
		},
	      {
			"id": "69"
		}],
		"customerId": "79",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Trailsway",
			"street_number": "21067",
			"street_suffix": "Plaza"
		}
	},
	  {
		"id": "43",
		"date": "7/2/2021",
		"products": [{
			"id": "100"
		},
	      {
			"id": "75"
		},
	      {
			"id": "62"
		}],
		"customerId": "2",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Hansons",
			"street_number": "0055",
			"street_suffix": "Center"
		}
	},
	  {
		"id": "44",
		"date": "8/23/2021",
		"products": [{
			"id": "31"
		},
	      {
			"id": "42"
		},
	      {
			"id": "100"
		},
	      {
			"id": "70"
		}],
		"customerId": "39",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Hoepker",
			"street_number": "6",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "45",
		"date": "12/9/2020",
		"products": [{
			"id": "32"
		},
	      {
			"id": "68"
		},
	      {
			"id": "83"
		},
	      {
			"id": "31"
		},
	      {
			"id": "15"
		}],
		"customerId": "70",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "American",
			"street_number": "53468",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "46",
		"date": "10/16/2020",
		"products": [],
		"customerId": "81",
		"payment": {
			"currency": "Euro",
			"country": "Spain"
		},
		"address": {
			"street_name": "Armistice",
			"street_number": "0234",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "47",
		"date": "5/27/2021",
		"products": [{
			"id": "67"
		},
	      {
			"id": "98"
		},
	      {
			"id": "16"
		}],
		"customerId": "5",
		"payment": {
			"currency": "Euro",
			"country": "Germany"
		},
		"address": {
			"street_name": "Florence",
			"street_number": "5",
			"street_suffix": "Alley"
		}
	},
	  {
		"id": "48",
		"date": "5/4/2021",
		"products": [{
			"id": "42"
		},
	      {
			"id": "46"
		}],
		"customerId": "33",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Kinsman",
			"street_number": "22622",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "49",
		"date": "11/24/2020",
		"products": [{
			"id": "9"
		},
	      {
			"id": "12"
		},
	      {
			"id": "78"
		},
	      {
			"id": "40"
		}],
		"customerId": "97",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Oxford",
			"street_number": "44146",
			"street_suffix": "Court"
		}
	},
	  {
		"id": "50",
		"date": "6/27/2021",
		"products": [],
		"customerId": "57",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Wayridge",
			"street_number": "37286",
			"street_suffix": "Plaza"
		}
	},
	  {
		"id": "51",
		"date": "5/14/2021",
		"products": [{
			"id": "61"
		},
	      {
			"id": "99"
		},
	      {
			"id": "93"
		}],
		"customerId": "97",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Bunting",
			"street_number": "4",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "52",
		"date": "4/20/2021",
		"products": [{
			"id": "61"
		},
	      {
			"id": "74"
		}],
		"customerId": "46",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Basil",
			"street_number": "4",
			"street_suffix": "Way"
		}
	},
	  {
		"id": "53",
		"date": "1/11/2021",
		"products": [{
			"id": "8"
		},
	      {
			"id": "100"
		},
	      {
			"id": "97"
		},
	      {
			"id": "31"
		}],
		"customerId": "47",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Welch",
			"street_number": "8",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "54",
		"date": "3/21/2021",
		"products": [{
			"id": "23"
		},
	      {
			"id": "77"
		},
	      {
			"id": "81"
		},
	      {
			"id": "61"
		},
	      {
			"id": "30"
		}],
		"customerId": "35",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Manitowish",
			"street_number": "4",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "55",
		"date": "10/16/2020",
		"products": [{
			"id": "20"
		}],
		"customerId": "59",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Fulton",
			"street_number": "7436",
			"street_suffix": "Center"
		}
	},
	  {
		"id": "56",
		"date": "2/10/2021",
		"products": [{
			"id": "73"
		},
	      {
			"id": "86"
		},
	      {
			"id": "44"
		},
	      {
			"id": "31"
		},
	      {
			"id": "87"
		}],
		"customerId": "61",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Eggendart",
			"street_number": "02",
			"street_suffix": "Place"
		}
	},
	  {
		"id": "57",
		"date": "10/6/2020",
		"products": [{
			"id": "25"
		},
	      {
			"id": "68"
		},
	      {
			"id": "45"
		},
	      {
			"id": "78"
		},
	      {
			"id": "43"
		}],
		"customerId": "85",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Lyons",
			"street_number": "3563",
			"street_suffix": "Trail"
		}
	},
	  {
		"id": "58",
		"date": "12/15/2020",
		"products": [{
			"id": "5"
		},
	      {
			"id": "3"
		},
	      {
			"id": "8"
		}],
		"customerId": "94",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Holy Cross",
			"street_number": "7",
			"street_suffix": "Center"
		}
	},
	  {
		"id": "59",
		"date": "6/12/2021",
		"products": [{
			"id": "15"
		},
	      {
			"id": "49"
		}],
		"customerId": "74",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Schiller",
			"street_number": "82718",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "60",
		"date": "12/19/2020",
		"products": [{
			"id": "67"
		},
	      {
			"id": "54"
		},
	      {
			"id": "51"
		},
	      {
			"id": "75"
		}],
		"customerId": "8",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Fordem",
			"street_number": "6",
			"street_suffix": "Road"
		}
	},
	  {
		"id": "61",
		"date": "4/16/2021",
		"products": [{
			"id": "95"
		},
	      {
			"id": "25"
		},
	      {
			"id": "18"
		}],
		"customerId": "68",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Prairieview",
			"street_number": "6",
			"street_suffix": "Junction"
		}
	},
	  {
		"id": "62",
		"date": "1/23/2021",
		"products": [{
			"id": "22"
		},
	      {
			"id": "99"
		},
	      {
			"id": "45"
		},
	      {
			"id": "84"
		},
	      {
			"id": "58"
		}],
		"customerId": "4",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Holmberg",
			"street_number": "663",
			"street_suffix": "Parkway"
		}
	},
	  {
		"id": "63",
		"date": "6/29/2021",
		"products": [{
			"id": "55"
		},
	      {
			"id": "98"
		}],
		"customerId": "57",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Bobwhite",
			"street_number": "47",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "64",
		"date": "11/27/2020",
		"products": [{
			"id": "35"
		}],
		"customerId": "20",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Anthes",
			"street_number": "97",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "65",
		"date": "12/19/2020",
		"products": [{
			"id": "85"
		},
	      {
			"id": "45"
		}],
		"customerId": "62",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Victoria",
			"street_number": "0",
			"street_suffix": "Hill"
		}
	},
	  {
		"id": "66",
		"date": "11/30/2020",
		"products": [],
		"customerId": "87",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Helena",
			"street_number": "89448",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "67",
		"date": "7/27/2021",
		"products": [],
		"customerId": "14",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Maywood",
			"street_number": "3415",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "68",
		"date": "8/14/2021",
		"products": [],
		"customerId": "31",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Northridge",
			"street_number": "9744",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "69",
		"date": "5/10/2021",
		"products": [{
			"id": "25"
		},
	      {
			"id": "69"
		},
	      {
			"id": "62"
		},
	      {
			"id": "50"
		},
	      {
			"id": "54"
		}],
		"customerId": "99",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Norway Maple",
			"street_number": "1783",
			"street_suffix": "Trail"
		}
	},
	  {
		"id": "70",
		"date": "1/29/2021",
		"products": [],
		"customerId": "84",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Washington",
			"street_number": "295",
			"street_suffix": "Park"
		}
	},
	  {
		"id": "71",
		"date": "1/9/2021",
		"products": [{
			"id": "53"
		},
	      {
			"id": "64"
		},
	      {
			"id": "93"
		}],
		"customerId": "21",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Jenna",
			"street_number": "88",
			"street_suffix": "Alley"
		}
	},
	  {
		"id": "72",
		"date": "4/30/2021",
		"products": [{
			"id": "72"
		},
	      {
			"id": "44"
		},
	      {
			"id": "98"
		}],
		"customerId": "10",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Stoughton",
			"street_number": "89",
			"street_suffix": "Parkway"
		}
	},
	  {
		"id": "73",
		"date": "7/18/2021",
		"products": [{
			"id": "35"
		}],
		"customerId": "2",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Brickson Park",
			"street_number": "38679",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "74",
		"date": "1/13/2021",
		"products": [{
			"id": "76"
		},
	      {
			"id": "3"
		}],
		"customerId": "8",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Duke",
			"street_number": "826",
			"street_suffix": "Road"
		}
	},
	  {
		"id": "75",
		"date": "4/24/2021",
		"products": [{
			"id": "73"
		},
	      {
			"id": "58"
		},
	      {
			"id": "13"
		},
	      {
			"id": "85"
		},
	      {
			"id": "99"
		}],
		"customerId": "72",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Springs",
			"street_number": "38476",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "76",
		"date": "6/7/2021",
		"products": [{
			"id": "23"
		},
	      {
			"id": "72"
		},
	      {
			"id": "98"
		},
	      {
			"id": "91"
		},
	      {
			"id": "67"
		}],
		"customerId": "99",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Kennedy",
			"street_number": "1",
			"street_suffix": "Parkway"
		}
	},
	  {
		"id": "77",
		"date": "9/19/2021",
		"products": [],
		"customerId": "73",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Ridgeview",
			"street_number": "63",
			"street_suffix": "Crossing"
		}
	},
	  {
		"id": "78",
		"date": "10/2/2020",
		"products": [],
		"customerId": "78",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Boyd",
			"street_number": "10",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "79",
		"date": "4/14/2021",
		"products": [{
			"id": "23"
		}],
		"customerId": "37",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Golf View",
			"street_number": "67",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "80",
		"date": "8/21/2021",
		"products": [{
			"id": "24"
		},
	      {
			"id": "94"
		}],
		"customerId": "59",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Briar Crest",
			"street_number": "72",
			"street_suffix": "Place"
		}
	},
	  {
		"id": "81",
		"date": "11/14/2020",
		"products": [{
			"id": "84"
		},
	      {
			"id": "42"
		},
	      {
			"id": "19"
		},
	      {
			"id": "42"
		}],
		"customerId": "72",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Crowley",
			"street_number": "04360",
			"street_suffix": "Circle"
		}
	},
	  {
		"id": "82",
		"date": "9/29/2020",
		"products": [{
			"id": "20"
		},
	      {
			"id": "47"
		},
	      {
			"id": "34"
		},
	      {
			"id": "11"
		}],
		"customerId": "14",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Gateway",
			"street_number": "152",
			"street_suffix": "Terrace"
		}
	},
	  {
		"id": "83",
		"date": "8/26/2021",
		"products": [{
			"id": "31"
		}],
		"customerId": "55",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Golf Course",
			"street_number": "4214",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "84",
		"date": "9/23/2021",
		"products": [],
		"customerId": "81",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Dayton",
			"street_number": "12659",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "85",
		"date": "10/7/2020",
		"products": [{
			"id": "20"
		},
	      {
			"id": "99"
		},
	      {
			"id": "12"
		}],
		"customerId": "71",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Bartillon",
			"street_number": "8",
			"street_suffix": "Drive"
		}
	},
	  {
		"id": "86",
		"date": "4/1/2021",
		"products": [{
			"id": "77"
		},
	      {
			"id": "80"
		},
	      {
			"id": "92"
		},
	      {
			"id": "6"
		}],
		"customerId": "18",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Morningstar",
			"street_number": "7091",
			"street_suffix": "Trail"
		}
	},
	  {
		"id": "87",
		"date": "1/3/2021",
		"products": [{
			"id": "5"
		},
	      {
			"id": "4"
		},
	      {
			"id": "73"
		},
	      {
			"id": "19"
		}],
		"customerId": "49",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Butternut",
			"street_number": "7",
			"street_suffix": "Way"
		}
	},
	  {
		"id": "88",
		"date": "2/5/2021",
		"products": [],
		"customerId": "33",
		"payment": {
			"currency": "Euro",
			"country": "Spain"
		},
		"address": {
			"street_name": "Cardinal",
			"street_number": "110",
			"street_suffix": "Point"
		}
	},
	  {
		"id": "89",
		"date": "8/16/2021",
		"products": [{
			"id": "55"
		},
	      {
			"id": "99"
		},
	      {
			"id": "19"
		},
	      {
			"id": "40"
		}],
		"customerId": "90",
		"payment": {
			"currency": "Euro",
			"country": "Spain"
		},
		"address": {
			"street_name": "Old Shore",
			"street_number": "571",
			"street_suffix": "Junction"
		}
	},
	  {
		"id": "90",
		"date": "8/5/2021",
		"products": [{
			"id": "28"
		}],
		"customerId": "63",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Continental",
			"street_number": "9692",
			"street_suffix": "Place"
		}
	},
	  {
		"id": "91",
		"date": "9/11/2021",
		"products": [{
			"id": "88"
		},
	      {
			"id": "91"
		}],
		"customerId": "24",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Old Gate",
			"street_number": "956",
			"street_suffix": "Center"
		}
	},
	  {
		"id": "92",
		"date": "10/23/2020",
		"products": [{
			"id": "89"
		},
	      {
			"id": "60"
		},
	      {
			"id": "94"
		},
	      {
			"id": "45"
		}],
		"customerId": "70",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Mallory",
			"street_number": "522",
			"street_suffix": "Parkway"
		}
	},
	  {
		"id": "93",
		"date": "8/11/2021",
		"products": [{
			"id": "73"
		},
	      {
			"id": "48"
		},
	      {
			"id": "69"
		},
	      {
			"id": "55"
		}],
		"customerId": "71",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Hermina",
			"street_number": "8",
			"street_suffix": "Circle"
		}
	},
	  {
		"id": "94",
		"date": "11/14/2020",
		"products": [{
			"id": "27"
		}],
		"customerId": "89",
		"payment": {
			"currency": "Euro",
			"country": "France"
		},
		"address": {
			"street_name": "Browning",
			"street_number": "344",
			"street_suffix": "Parkway"
		}
	},
	  {
		"id": "95",
		"date": "4/29/2021",
		"products": [{
			"id": "57"
		},
	      {
			"id": "98"
		},
	      {
			"id": "32"
		},
	      {
			"id": "27"
		}],
		"customerId": "9",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Green Ridge",
			"street_number": "581",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "96",
		"date": "8/20/2021",
		"products": [{
			"id": "88"
		}],
		"customerId": "19",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Northridge",
			"street_number": "920",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "97",
		"date": "7/21/2021",
		"products": [{
			"id": "44"
		},
	      {
			"id": "17"
		}],
		"customerId": "29",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Claremont",
			"street_number": "403",
			"street_suffix": "Street"
		}
	},
	  {
		"id": "98",
		"date": "12/7/2020",
		"products": [{
			"id": "53"
		},
	      {
			"id": "17"
		},
	      {
			"id": "11"
		}],
		"customerId": "57",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Mitchell",
			"street_number": "92359",
			"street_suffix": "Hill"
		}
	},
	  {
		"id": "99",
		"date": "5/31/2021",
		"products": [],
		"customerId": "37",
		"payment": {
			"currency": "Euro",
			"country": "Portugal"
		},
		"address": {
			"street_name": "Lukken",
			"street_number": "48",
			"street_suffix": "Pass"
		}
	},
	  {
		"id": "100",
		"date": "7/21/2021",
		"products": [{
			"id": "1"
		},
	      {
			"id": "46"
		},
	      {
			"id": "36"
		},
	      {
			"id": "37"
		},
	      {
			"id": "43"
		}],
		"customerId": "91",
		"payment": {
			"currency": "Zloty",
			"country": "Poland"
		},
		"address": {
			"street_name": "Summit",
			"street_number": "34663",
			"street_suffix": "Avenue"
		}
	}] filter $.id == id)
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\orders\(id):orders-api-config" />
    </flow>
</mule>
